### OSV Reproducer Configuration Settings
---

osv_reproducer:
### Toggle application level debug (does not toggle framework debugging)
# debug: false

### Where external (third-party) plugins are loaded from
# plugin_dir: /var/lib/osv_reproducer/plugins/

### Where all plugin configurations are loaded from
# plugin_config_dir: /etc/osv_reproducer/plugins.d/

### Where external templates are loaded from
# template_dir: /var/lib/osv_reproducer/templates/

### The log handler label
  log_handler: colorlog

### The output handler label
# output_handler: jinja2

handlers:
  github:
    token: "<YOUR_TOKEN_HERE>"
    project_repo_mappings:
      libressl: "https://github.com/libressl/portable"
      openexr: "https://github.com/AcademySoftwareFoundation/openexr"
      ndpi: "https://github.com/ntop/nDPI"
      wolfssl: "https://github.com/wolfssl/wolfssl"
  gcs:
    bucket_name: "clusterfuzz-builds"

log.colorlog:

### Where the log file lives (no log file by default)
  file: null

### The level for which to log.  One of: info, warning, error, fatal, debug
  level: info

### Whether to log to console
  to_console: true

### Whether to rotate the log file when it reaches `max_bytes`
# rotate: false

### Max size in bytes that a log file can grow until it is rotated.
# max_bytes: 512000

### The maximum number of log files to maintain when rotating
# max_files: 4
